/*@import url('https:/https://dev-reportapi.simpraproperty.net/fonts.googleapis.com/css?family=KoHo:200,300,400,500,600,700&subset=latin-ext');*/

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Medium.woff2') format('woff2'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Medium.woff') format('woff'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-BlackItalic.woff2') format('woff2'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-BlackItalic.woff') format('woff'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-ThinItalic.woff2') format('woff2'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-ThinItalic.woff') format('woff'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Light.woff2') format('woff2'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Light.woff') format('woff'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Regular.woff2') format('woff2'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Regular.woff') format('woff'),
        url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-RegularItalic.woff2') format('woff2'),
          url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-RegularItalic.woff') format('woff'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Black.woff2') format('woff2'),
          url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Black.woff') format('woff'),
          url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-BoldItalic.woff2') format('woff2'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-BoldItalic.woff') format('woff'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-MediumItalic.woff2') format('woff2'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-MediumItalic.woff') format('woff'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Thin.woff2') format('woff2'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Thin.woff') format('woff'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-LightItalic.woff2') format('woff2'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-LightItalic.woff') format('woff'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Bold.woff2') format('woff2'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Bold.woff') format('woff'),
    url('https://dev-reportapi.simpraproperty.net/fonts/BrandonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#NetCoreViewer {
    background: transparent !important;
}

.stiJsViewerToolBar {
    border-bottom: none !important;
}

.stiJsViewerToolBarTable {
    background: transparent !important;
    color: #86939e;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButton {
    font-size: 14px !important;
    height: 48px !important;
    border: 1px solid #d6dddf;
    border-radius: 6px;
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px transparent;
    background: transparent !important;
    outline: none !important;
    margin: 0 6px !important;
    transition: all 200ms ease-in;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButton:not(:last-child) {
    margin-right: 12px !important;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButton table tbody tr td:nth-child(2) {
    display: none;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButton table tbody tr td:nth-child(1) img {
    width: 20px !important;
    height: 20px !important;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButton table tbody tr td:nth-child(3) img {
    width: 20px !important;
    height: 20px !important;
    filter: grayscale(1) !important;
}

.stiJsViewerToolBarSeparator {
    border: none !important;
    background: transparent !important;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButtonOver {
    font-size: 14px !important;
    background: rgba(148,160,169,0.15) !important;
}

.stiJsViewerToolBarTable .stiJsViewerStandartSmallButton img {
    font-size: 14px !important;
}

.stiJsViewerMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    background: #fff !important;
    border-radius: 6px !important;
    border: 1px solid #d6dddf !important;
    box-shadow: 0 23px 40px -22px rgb(0 23 31 / 20%), 0 30px 39px -22px rgb(0 23 31 / 20%) !important;
    transform-origin: 100% 0;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.stiJsViewerMenu .stiJsViewerMenuStandartItem {
    border: none;
    border-bottom: 1px solid #d6dddf;
    padding: 10px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #86939E;
    cursor: pointer;
    transition: background 200ms ease-in;
}

.stiJsViewerMenu .stiJsViewerMenuStandartItemOver {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background: #f2f2f2 !important;
}

.stiJsViewerMenu .stiJsViewerVerticalMenuSeparator {
    display: none !important;
}

.stiJsViewerNavigatePanel {
    font-family: "Brandon Text";
    font-size: 14px;
    color: #86939E !important;
    background: transparent !important;
    padding: 0 4px !important;
}

.stiJsViewerNavigatePanel .stiJsViewerNavigateButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    width: 32px !important;
    height: 32px !important;
    outline: none;
    font-size: 15px !important;
    cursor: pointer;
    user-select: none;
    border: 1px solid #d6dddf;
    margin: 0 6px !important;
    transition: background-color 200ms ease-in;
    transition: filter 200ms ease-in;
}

.stiJsViewerNavigatePanel .stiJsViewerNavigateButtonOver {
    border-color: #aebcc1 !important;
}

.stiJsViewerNavigatePanel .stiJsViewerNavigateButtonDisabled {
    cursor: not-allowed !important;
    color: #86939e !important;
    background-color: #e9ebf1 !important;
}

.stiJsViewerNavigatePanel .stiJsViewerNavigateButton img {
    width: 12px;
    height: 12px;
}

.stiJsViewerNavigatePanel .stiJsViewerNavigateButtonDisabled img {
    filter: grayscale(1) !important;
}

.stiJsViewerNavigatePanel .stiJsViewerNavigatePanelPages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #fff !important;
    border-radius: 6px !important;
    height: 32px !important;
    border: 1px solid #d6dddf;
    padding: 0 10px;
}

.stiJsViewerNavigatePanel .stiJsViewerTextBox {
    font-size: 14px;
    width: 20px !important;
    text-align: center;
    border: none !important;
    padding: 0px !important;
    background: transparent !important;
    background-image: none !important;
    color: #86939e !important;
}

.stiJsViewerReportPanel .stiJsViewerPage {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
    text-align: unset !important;
    vertical-align: unset !important;
    padding: 0 10px !important;
    border: none !important;
    color: unset !important;
    background: unset !important;
}

.stiJsViewerReportPanel .stiJsViewerPage table {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100% !important;
    border-radius: 6px;
    background-color: #fdfdfd;
    border: 1px solid #d6dddf !important;
    border-collapse: unset !important;
    overflow: hidden !important;
    margin-bottom: 20px !important;
}

.stiJsViewerReportPanel .stiJsViewerPage table thead {
    display: table-header-group;
    position: relative;
    width: 100%;
}

.stiJsViewerReportPanel .stiJsViewerPage table thead tr {
    display: table-row;
    height: 63px;
    border-bottom: 1px solid #d6dddf;
}

.stiJsViewerReportPanel .stiJsViewerPage table thead tr td:not(:last-child){
    border-right: 1px solid #d6dddf;
}

.stiJsViewerReportPanel .stiJsViewerPage table thead tr td{
    font-family: "Brandon Text" !important;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    color: #86939e;
    padding: 0 20px;
    border-bottom: 1px solid #d6dddf;
    background-color: #fdfdfd;
    cursor: pointer;
}

.stiJsViewerReportPanel .stiJsViewerPage table tbody {
    display: table-row-group;
}

.stiJsViewerReportPanel .stiJsViewerPage table tbody tr:not(:last-child) {
    border-bottom: 1px solid #d6dddf;
}

.stiJsViewerReportPanel .stiJsViewerPage table tbody tr {
    display: table-row;
    height: 63px !important;
}

.stiJsViewerReportPanel .stiJsViewerPage table tbody tr td:not(:last-child){
    border-right: 1px solid #d6dddf;
}

.stiJsViewerReportPanel .stiJsViewerPage table tbody tr td{
    font-family: "Brandon Text" !important;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    color: #86939e;
    padding: 0 20px !important;
    border-bottom: 1px solid #d6dddf;
    background-color: #fdfdfd;
}

.stiJsViewerReportPanel {
    margin-top: 62px !important;
    margin-bottom: 42px !important;
}